$primary-font: Helvetica,
sans-serif;
$primary-color: #333;

$main-background: #f3f3f3;
$background-2: #ffffff;
$main-text: #4c4c4c;
$text-2: #999999;
$icons-button: #4cabda;
$activ_icons-button: #fdb822;
$content_icons: #464646;
$gradient_01: #4cabda;
$gradient_02: #0087cb;
$errors_dangers: #ff161f;
$warnings: #4400cb;
$darkBlue: #4008cd;